body {
	background-color: #F1F2E9 !important;
	.nav-container {
		background-color: #E7F5EE;
	}
	.top-nav {
		text-align: right;
		background-color: #E7F5EE;
		letter-spacing: -4px;
		li.nav-tab {
			float: none;
			display: inline-block;
			&.active {
				a {
					color: #686868;
				}
			}
			a {
				border-radius: 0px;
				color: #6A8E6B;
				letter-spacing: initial;
			}
		}
	}
	.tab-pane {
		.sub-nav {
			padding: 1% 5%;
			background-color: white;
			border-bottom: 1px solid #DDD;
			list-style: none;
			li {
				display: inline-block;
				margin-top: 10px;
			}
			a {
				display: inline-block;
				margin-right: 10px;
				color: #676767;
				cursor: pointer;
				&:visited {
					color: #676767;
				}
				&:hover {
					color: black;
					text-decoration: none;
				}
				&.active {
					color: black;
				}
			}
		}
		.container {
			margin-top: 15px;
		}
	}
	.button-container {
		display: inline-block;
		text-align: center;
		.new-program {
			background-color: green;
			display: inline-block;
			width: 50px;
			height: 50px;
			position: relative;
			text-align: center;
			i {
				color: white;
				position: relative;
				top: 17%;
				left: 4%;
				font-size: 35px;
			}
		}
		.new-program-caption {
			display: block;
			font-weight: bold;
			font-size: 10px;
		}
	}
}

#programModal {
	.error-container 	{
		.form-error {
			color: red;
			display: block;
		}
	}
	.modal-footer {
		text-align: center !important;
	}
}

.graph-container {
	background-color: white;
	padding: 10px;
	margin-top: 20px;
	.graph-header {
		font-size: 18px;
		.pencil-button {
			float: right;
			i {
				&:hover {
					color: green;
				}
			}
		}
	}
	.graph-body {
		margin-top: 10px;
	}
}

@media (max-width: 664px) {
	body {

		.top-nav {
			li {
				&.nav-tab {
					display: block;
					text-align: left;
					float: none;
				}
			}
		}
	}
}